<template>
  <header class="banner">
    <div class="row justify-content-center">
      <div class="col-9 p-0">
      </div>
    </div>
  </header>
</template>
<script>
export default {
  name: "Header",
};
</script>
<style>
.banner {
  background: url("~@/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 180px;
  padding-top: 50px;
}
</style>
