<template>
  <div class="row nav justify-content-center bg-light fixed-top">
    <div class="col-9 p-0">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <a class="navbar-brand" href="#"><img src="~@/assets/logo.png"/></a>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Monitoramento <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Desenvolvimento</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>
<style>
.nav {
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important;
}
</style>
