<template>
  <section>
    <Header />

    <div class="row justify-content-center">
      <div class="col-9 bg-success text-light py-2 rounded">
        <h5 class="font-weight-normal py-2 my-0">
          <img class="check" src="~@/assets/check.svg"/>
          Todos Sistemas Operacionais
        </h5>
      </div>

      <div class="col-9 mt-5 mb-3 p-0">
        <h3 class="font-weight-normal p-0">Status dos Serviços</h3>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-9 border rounded shadow">

        <Application description="Plataforma para processamento de dados em larga escala.">
          Plataforma Big Data
        </Application>

        <Application description="Ferramenta que de análise de eventos espaço-temporais relacionados com ações delituosas.">
          Geointeligêcia
        </Application>

        <Application description="Painel para tomada de decisão, de busca e visualização de analíticos sobre dados.">
          Busca
        </Application>

        <Application description="Painel de controle e acompanhamento de integrações.">
          Tempo Real
        </Application>

        <Application description="Motor de processamento de eventos complexos visando a detecção de anomalias em dados históricos e fluxo de dados em tempo real.">
          Alerta
        </Application>

        <Application description="Sistema para acompanhamento em tempo real de veículos, pessoas e objetos rastreados através de sensor de geolocalização.">
          Mobilidade
        </Application>

        <Application description="Aplicativo para dispositivo móvel para o gerenciamento do policiamento ostensivo e comunitário.">
          Agente de Campo
        </Application>

        <Application description="Ferramenta para identificação automática de fraudes a partir do reconhecimento de padrões associados a este tipo de ações delituosas.">
          Corrupção
        </Application>

        <Application description="Painel analítico de rede temporal de relacionamentos entre vetores que compõem o comportamento delitivo.">
          Vínculos
        </Application>

        <Application description='Aplicativo móvel onde o cidadão pode obter informações sobre veículos, fazer busca no Banco Nacional de Mandados de Prisão (BNMP), Banco Nacional de Pessoas Desaparecidas, Base Nacional de Procurados pela Justiça, e colaborar com a nação através do módulo de Participação Cidadã. Trata-se de um desdobramento do item "G" do Plano de Trabalho original, "Aplicativo Móvel para Policial", com a intenção de ampliar o alcance da tecnologia, chegando no Cidadão, com módulos que permitem uma interação maior entre o Ministério da Justiça e Segurança Pública e a comunidade.'>
          Cidadão
        </Application>

        <Application description='Aplicação para manter gestores de segurança pública informados sobre estatísticas quantitativas e espaciais das ocorrências policiais, bem como prover informações sobre o posicionamento dos agentes públicos de segurança.'>
          Gestão a Vista
        </Application>

        <Application description='Aplicativo móvel com um módulo de comunicação com um sistema do tipo Central de Atendimento e Despacho (CAD).'>
          Central de Atendimento e Despacho
        </Application>

        <Application description='Sistema de gestão de convênios entre o Ministério da Justiça e Segurança Pública e outras entidades.'>
          Convênios
        </Application>
      </div>
    </div>
  </section>
</template>

<script>
import Header from "@/components/Layout/Header.vue";
import Application from "@/components/Application.vue";

export default {
  name: "Home",
  components: {
    Header,
    Application,
  },
};
</script>
<style>
  .check{
    margin: -3px 10px 0;
    height: 20px;
    width: 20px;
    filter: brightness(2000%);
  }
</style>