<template>
  <div class="col">
    <div class="row px-2 pt-4 mb-1">
      <div class="col">
        <slot></slot> <span class="info" v-tooltip="description">?</span>
      </div>

      <div class="col text-right">
        <div class="float-right">
          <span class="component-status">Normal</span>
        </div>
      </div>
    </div>
    <div class="row px-4">
      <svg preserveAspectRatio="none" height="34" viewBox="0 0 448 34">
        <rect
          v-for="i in 90"
          v-bind:key="i"
          height="34"
          width="3"
          :x="5 * (i - 1)"
          y="0"
          fill="#28a745"
          data-html="true"
        ></rect>
      </svg>
    </div>
    <div class="row px-2 pb-2 mt-1 border-bottom text-muted">
      <div class="col">90 dias</div>
      <div class="col text-right">
        <div class="float-right">Hoje</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
   props: ['description'],
}
</script>

<style>
body {
  font-family: sans-serif;
  margin: 42px;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  max-width: 400px !important;
  border-radius: 5px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

svg {
  margin: 0;
  padding: 0;
  height: 34px;
  width: 100%;
  overflow: hidden;
}
rect[fill="#28a745"] {
  opacity: 0.45;
}
.text-muted {
  color: #ccc !important;
}
.info {
  border-radius: 99px;
  border-color: #e1e4e8;
  color: #666;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  -o-border-radius: 99px;
  -ms-border-radius: 99px;
  cursor: default;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 18px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.component-status {
  font-weight: 500;
  font-size: 0.875rem;
  float: right;
  color: #28a745;
}

.component-status::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  content: "";
  vertical-align: text-bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("~@/assets/check.svg");
}



</style>
